/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
/* END Reset */

/* Colors */
:root {
  --black: rgba(18, 41, 50, 1);
  --silver: rgba(117, 119, 128, 1);
  --blue: rgba(160, 223, 255, 1);
  --tan: rgba(241, 224, 197, 1);
  --cream: rgba(248, 255, 248, 1);
  --overlay-light: rgba(18, 41, 50, 0.3);
  --overlay-dark: rgba(18, 41, 50, 0.6);
}

body {
  font-family: "Work Sans", sans-serif;
  background: var(--black);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("assets/hero_image-min.jpg");
  background-position: center;
  background-size: cover;
  height: 35vh;
  width: 100vw;
}

.hero-text-container {
  width: 100%;
  background: var(--overlay-dark);
  text-align: center;
  color: var(--cream);
}

.hero-title {
  font-size: 4rem;
  color: var(--cream);
}

.hero-tagline {
  font-size: 1.1rem;
  margin-top: 25px;
}

#pac-input {
  width: 100%;
  height: 50px;
  text-align: center;
  color: var(--black);
  font-size: 1rem;
  background: var(--blue);
  border: solid 2px var(--black);
  font-weight: bold;
  padding: 0;
}

::placeholder {
  color: var(--black);
  font-weight: bold;
}

#map {
  height: 250px;
  width: 100%;
  margin: 0 auto 0 auto;
}

.activities-container {
  display: none;
}

.activity-instructions {
  height: 25px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--cream);
  margin-top: 10px;
}

.activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background: var(--cream);
  margin: auto;
  margin-bottom: 15px;
  border: 2px solid var(--blue);
  border-radius: 10px;
}

.card-title {
  width: 100%;
  padding: 10px 0 10px 0;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bolder;
  color: var(--cream);
  background: var(--overlay-dark);
}

#activity-hiking {
  background: url("assets/hiking_activity_background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.destination-cards-container {
  display: none;
  height: fit-content;
  width: 100% 100%;
}

.destination-instructions {
  margin: 15px 0 15px 0;
  font-size: 1.5rem;
  color: var(--cream);
  text-align: center;
  font-weight: bolder;
}

.destination-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.destination-card {
  width: 90%;
  margin: 0 auto 15px auto;
  background: var(--cream);
  border: 2px solid var(--cream);
}

.destination-details {
  display: none;
}

.details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.information p {
  padding: 10px 0 0 0;
  line-height: 1.3rem;
}

span {
  font-weight: bolder;
}
